correios/data/wsdls/Rastro_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/25/2013 12:35 PM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://resource.webservice.correios.com.br/" version="1.0" targetNamespace="http://resource.webservice.correios.com.br/">

  <xs:element name="buscaEventos" type="tns:buscaEventos"></xs:element>

  <xs:element name="buscaEventosLista" type="tns:buscaEventosLista"></xs:element>

  <xs:element name="buscaEventosListaResponse" type="tns:buscaEventosListaResponse"></xs:element>

  <xs:element name="buscaEventosResponse" type="tns:buscaEventosResponse"></xs:element>

  <xs:element name="destino" type="tns:destinos"></xs:element>

  <xs:element name="endereco" type="tns:enderecoMobile"></xs:element>

  <xs:element name="evento" type="tns:eventos"></xs:element>

  <xs:element name="objeto" type="tns:objeto"></xs:element>

  <xs:element name="rastro" type="tns:sroxml"></xs:element>

  <xs:complexType name="buscaEventosLista">
    <xs:sequence>
      <xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="lingua" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="objetos" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buscaEventosListaResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:sroxml" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sroxml">
    <xs:sequence>
      <xs:element name="versao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="qtd" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="TipoPesquisa" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="TipoResultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element ref="tns:objeto" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="objeto">
    <xs:sequence>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="sigla" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nome" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="erro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element ref="tns:evento" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eventos">
    <xs:sequence>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="data" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descricao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="detalhe" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="recebedor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="documento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comentario" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="local" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="uf" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="sto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="amazoncode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="amazontimezone" type="xs:string" minOccurs="0"></xs:element>
      <xs:element ref="tns:destino" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element ref="tns:endereco" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destinos">
    <xs:sequence>
      <xs:element name="local" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="bairro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="uf" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enderecoMobile">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cep" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="logradouro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="complemento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="localidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="uf" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="bairro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="latitude" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="longitude" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="celular" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buscaEventos">
    <xs:sequence>
      <xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="lingua" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="objetos" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buscaEventosResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:sroxml" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>